html { 
    /* background: linear-gradient(0) url('./Imagenes/yellow-pikachu-plushmascot-1049622.jpg') no-repeat center center fixed;  */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./Imagenes/yellow-pikachu-plushmascot-1049622.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
  }